<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h3 class="collapsible__heading">Products</h3>
    <img src="images/chevron.svg" class="collapsible__chevron" />
  </header>
  <div class="collapsible__content">
    <ul class="list list--ticked">
      <li class="list__item">WordPress Hosting</li>
      <li class="list__item">Free Automated WordPress</li>
      <li class="list__item">Migrations</li>
      <li class="list__item">Domain Names</li>
    </ul>
  </div>
</div>
